<nav class="rtl navbar navbar-expand-md navbar-dark bg-primary">
  <a [routerLink]="['/']" style="margin-top:-10px;color:pink;
font-family:ToyorAljanah;font-size:2.25rem;font-weight:bolder" class="navbar-brand" href="#"><i class="fa fa-heart"
      aria-hidden="true"></i>زواج<i class="fa fa-heart" aria-hidden="true"></i></a>

  <ul *ngIf="loggedIn()" style="letter-spacing:1px;font-weight:bold;font-family:'JF Flat';font-size:1.2rem"
    class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">الرئيسية </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/members']" routerLinkActive="router-link-active">بحث</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/lists']" routerLinkActive="router-link-active">تواصل</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="router-link-active">دردشة</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="loggedOut()">خروج</a>
    </li>
  </ul>
  <div *ngIf="loggedIn()" class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle  nav-link"
      aria-controls="dropdown-basic">
      مرحبا بك
      {{user?.sub}}
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu mt-3" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a style="cursor: pointer;" class="dropdown-item"> <i class="fa fa-user"></i>
          ملفى الشخصي</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"> <a style="cursor: pointer;" class="dropdown-item"> <i class="fa fa-sign-out"></i>
          تسجيل الخروج</a>
      </li>
    </ul>
  </div>

  <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
    <input required #email="ngModel" name="email" [(ngModel)]="model.email" class="form-control mr-sm-2" type="text"
      placeholder="إسم المشترك">
    <input required #password="ngModel" name="password" [(ngModel)]="model.password" class="form-control mr-sm-2"
      type="password" placeholder="كلمة السر">
    <button [disabled]="!loginForm.valid" style="font-weight:bold;font-family:'JF Flat';font-size:1.0rem"
      class="btn btn-secondary my-2 my-sm-0" type="submit">تفضل
      بالدخول</button>
  </form>
</nav>

<!--
<pre>
  Form Valid : {{loginForm.valid}}
  Form Touched : {{loginForm.touched}}
  Form Dirty : {{loginForm.dirty}}
  Form Values : {{loginForm.value | json}}
  Username Valid : {{username.valid}}
  Username Touched : {{username.touched}}
  Username Dirty : {{username.dirty}}
  Username Value : {{username.value}}
  Password Valid : {{password.valid}}
  Password Touched : {{password.touched}}
  Password Dirty : {{password.dirty}}
  Password Value : {{password.value}}
</pre> -->
