<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <img [src]="imgPrefix+photo.url" class="img-thumbnail p-1">
    <div class="text-center">
      <button type="button" class="btn btn-sm btn-success" (click)="SetMainPhoto(photo)"
        [disabled]="photo.isMain">الرئيسيه</button>
      <button type="button" class="btn btn-sm btn-danger" (click)="DeletePhoto(photo)"><i
          class="fa fa-trash"></i></button>
    </div>
  </div>
</div>


<div class="mt-5">
  <h5>Add Photo</h5>
  <form [formGroup]="addPhoto" (ngSubmit)="Uplaod(addPhoto)">
    <div class="form-group">
      <div class="mb-3">
        <input class="form-control" (change)="uploadPhoto($event)" type="file">
      </div>
    </div>

    <div class="form-group">
      <div class="mb-3">
        <input class="form-control" formControlName="description" type="text" placeholder="اضف وصف للصوره">
      </div>
    </div>
    <button class="btn btn-success">Add Photo</button>
  </form>
</div>
