<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <img [src]="photo.url" class="img-thumbnail p-1">
    <div class="text-center">
      <button type="button" class="btn btn-sm btn-success">الرئيسيه</button>
      <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>


<div class="mt-5">
  <h5>Add Photo</h5>
  <form>
    <input (change)="uploadPhoto($event)" type="file">
  </form>
  <button class="btn btn-success">Add Photo</button>
</div>
